@import url('https://fonts.googleapis.com/css?family=Lato:300');
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, .8);
    height: 70px;
    position:fixed;
    z-index: 10;
}

body{

    background-image: url(../images/01-Boehmische_Verpel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    
    
}
#logo{
    width: 10%;
    height: 70px;
    float: left; 
    padding-top: 1px; 
    
}
#logo img{
    width: 200px;
    height: 69px;
}
#titulo h1{
    
    color: #fff;
    font-size: 40px;
    text-decoration: none; 
    font-weight: bold; 
    letter-spacing: 3px;
    font-family: rale;
}
h2, h3{
    text-transform: uppercase;
    color: #fff; 
    font-family: rale;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding-top: 30px;
    font-size: 26px;
}

h3{
    font-family: rale;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    color: aqua;
}
p{
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    padding-top: 20px;
}
#menuPrincipal{
    top: 70px;
    position: absolute;
    width: 20%;
    padding: 5px 40px;
    color: aliceblue;
    font-family: rale, sans-serif;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
    position:fixed;
}
#menuPrincipal ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none; 
    text-transform: uppercase; 
    padding-left: 15px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    font-family: rale;
}
#menuPrincipal ul li a:hover{
   color: lightblue;
}

#contenido{
    top: 71px;
    position: absolute;
    width: 79.5%;
    border-width: 3px;
    border-color: #86BCB9; 
    border-style: solid; 
    text-align: center;
    margin-left: 300px;
    padding: 5px 50px;
    color: aliceblue;
}
#piePagina{
    top: 636px;
    position: absolute;
    width: 100%;
    height: 200px;
    margin-left: 5px;
    /* border-width: 3px;
    border-color: #86BCB9; 
    border-style: solid;   */
    
    background: url("../images/B4B.jpg");  
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#nom{
    width: 100%;
    height: 100px;
    color: #86BCB9;

}
#nom h2{
    text-transform: uppercase; 
    padding-left: 3px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    font-family: rale;
    text-align: center;
}
#referencia{
    width: 70%;
    height: 100px;
  
    float: left;
    text-align: center;
    padding-top: 24px; 
}
#referencia p  {
    display: inline;
    color: springgreen;
}
#referencia p a{
    text-decoration: none;
    font-weight: bold;
    color: deepskyblue;
}
#referencia p a:hover{
   color: indigo;
}
#copi{
    width: 30%;
    height: 100px;
    margin-left: 1004px;
}
#copi label{
    display: inline;
    float: left;
    text-align: center;
    padding-top: 24px; 
    font-family: rale;
    color: aliceblue;

}
@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf)
}